<form>
  <div class="row">
    <div class="col-2 cell d-flex justify-content-center">
      <h4>Item Name</h4>
    </div>
    <div class="col-2 cell d-flex justify-content-center">
      <h4>Item Price</h4>
    </div>
    <div class="col-2 cell d-flex justify-content-center">
      <h4>Item count</h4>
    </div>
    <div class="col-2 cell d-flex justify-content-center">
      <h4>Item Buyers</h4>
    </div>
    <div class="col-1 cell d-flex justify-content-center"><h4>Taxed</h4></div>
    <div class="col-1"></div>
  </div>
  <div
    class="row"
    *ngFor="let item of receiptService.receiptItems | async; let i = index"
    [formGroup]="recieptItemForm"
  >
    <div class="col-2 cell d-flex justify-content-center">
      <div *ngIf="item.edit; else displayName">
        <input type="text" formControlName="name" />
      </div>
      <ng-template #displayName>
        {{ item.itemName }}
      </ng-template>
    </div>
    <div class="col-2 cell d-flex justify-content-center">
      <div *ngIf="item.edit; else displayPrice">
        <input type="number" step="0.01" formControlName="price" />
      </div>
      <ng-template #displayPrice> {{ item.itemPrice }} </ng-template>
    </div>
    <div class="col-2 cell d-flex justify-content-center">
      <div *ngIf="item.edit; else displayCount">
        <input type="number" formControlName="count" />
      </div>
      <ng-template #displayCount>
        {{ item.itemCount }}
      </ng-template>
    </div>
    <div class="col-2 cell d-flex justify-content-center">
      <div *ngIf="item.edit; else displayBuyers">
        <input formControlName="buyers" />
      </div>
      <ng-template #displayBuyers>
        {{ item.itemBuyers }}
      </ng-template>
    </div>
    <div class="col-1 cell d-flex align-items-center justify-content-center">
      <div *ngIf="item.edit; else displayTaxed">
        <input type="checkbox" formControlName="taxed" />
      </div>
      <ng-template #displayTaxed>        
        <input type="checkbox" [checked]="item.itemTaxed" />
      </ng-template>
    </div>
    <div class="col-2 d-flex align-items-center">
      <div *ngIf="item.edit; else editButton">
        <button class="btn btn-success" (click)="saveItem(i)">Save</button>
      </div>
      <ng-template #editButton>
        <button class="btn btn-primary" (click)="editItem(i)">Edit</button>
      </ng-template>
    </div>
    <div class="col-1 d-flex align-item-center">
      <button class="btn btn-warning" (click)="deleteItem(i)" type="button">
        Delete
      </button>
    </div>
  </div>
</form>
